/* Set a style for the submit button */

.btn-a {
    background-color: #FFCB48;
    color: white;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn-a:hover {
    opacity: 2;
    background-color: #FF8724;
}

/* Set a style for the submit button */
.btn {
    background-color: #FF9B48;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.btn:hover {
    opacity: 2;
}

/*Set style for the icons*/
.icon {
    padding: 20px;
    background: #FF9B48;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-field {
    width: 100%;
    padding: 10px;
    outline: none;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}