<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
                             http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0"> 
         
  <display-name>Evena</display-name>

  <welcome-file-list>
    <welcome-file>index.htm</welcome-file>
  </welcome-file-list>
  
  <servlet>
      <servlet-name>dispatcher</servlet-name>
      <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
      <load-on-startup>1</load-on-startup>
  </servlet>
 
  <servlet-mapping>
      <servlet-name>dispatcher</servlet-name>
      <url-pattern>event</url-pattern>
      <url-pattern>index</url-pattern>
      <url-pattern>browse</url-pattern>
      <url-pattern>signin</url-pattern>
      <url-pattern>create</url-pattern>
      <url-pattern>orgdir</url-pattern>
      <url-pattern>manage</url-pattern>
      <url-pattern>eventdir</url-pattern>
      <url-pattern>register</url-pattern>
      <url-pattern>*.htm</url-pattern>
  </servlet-mapping>

</web-app>
